/*
    Document   : style
    Created on : 20/10/2011, 01:27:57 AM
    Author     : Cesardl
    Description:
        Purpose of the stylesheet follows.
*/

.tdLabel {
    padding-right: 10px;
    text-align: right;
}
